<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qwmodule">

    <application>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GWInitialActivity"
            android:label="@string/title_activity_gwinitial"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>